@{
    ViewBag.Title = "About";
}


<div class="jumbotron mt-5">
    <h1 class="display-4">Bookstore</h1>
    <p class="lead">Bookstore é uma aplicação web feita com .NET MVC C#. Utiliza Entity Framework, Angular 1, Jquery, Bootstrap 4, Arquitetura DDD, Injeção de Dependência e Inversão de Controle.</p>
    <hr class="my-4">
    <p>Maurício Luís de Lorenzi</p>
</div>