@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/Livro/Index.js"></script>

<div class="container-fluid">
<table>
    <thead>
        <tr>
            <th></th>
            <th>Nome</th>
            <th>Autor</th>
            <th>Editora</th>
            <th>Data de Lançamento</th>
        </tr>
    </thead>
    <tbody id="tabela_livros_body">
    </tbody>
</table>
</div>