@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/Angular/angular.min.js"></script>
<script src="~/Scripts/Livro/Index.js"></script>

<div ng-app="app" ng-controller="controller">
    <div class="modal fade" id="modal_adicionar" tabindex="-1" role="dialog" aria-labelledby="modal_adicionar" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Adicionar Usuário</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">
                        <label for="nome">Nome</label>
                        <input type="text" class="form-control" id="nome" />
                    </div>

                    <div class="col-md-12">
                        <label for="autor">Autor</label>
                        <input type="text" class="form-control" id="autor" />
                    </div>

                    <div class="col-md-12">
                        <label for="editora">Editora</label>
                        <input type="text" class="form-control" id="editora" />
                    </div>

                    <div class="col-md-12">
                        <label for="data_lancamento">Data de Lançamento</label>
                        <input type="text" class="form-control" id="data_lancamento" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button id="botao_adicionar" type="button" class="btn btn-primary" ng-click="AdicionaLivro()">Criar Usuário</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal_editar" tabindex="-1" role="dialog" aria-labelledby="modal_editar" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Editar Usuário</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">
                        <label for="nome_editar">Nome</label>
                        <input type="text" class="form-control" id="nome_editar" />
                    </div>

                    <div class="col-md-12">
                        <label for="auto_editarr">Autor</label>
                        <input type="text" class="form-control" id="autor_editar" />
                    </div>

                    <div class="col-md-12">
                        <label for="editora_editar">Editora</label>
                        <input type="text" class="form-control" id="editora_editar" />
                    </div>

                    <div class="col-md-12">
                        <label for="data_lancamento_editar">Data de Lançamento</label>
                        <input type="text" class="form-control" id="data_lancamento_editar" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary" ng-click="EditaLivro()">Atualizar Usuário</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">

        <div id="alerta-sucesso-container" class="container-fluid mt-2" hidden="hidden">
        </div>

        <div id="alerta-erro-container" class="container-fluid mt-2" hidden="hidden">

        </div>

        <div class="row mb-3 mt-3">
            <div class="col-sm-12 col-md-1 col-lg-1">
                <button class="btn btn-success" data-toggle="modal" data-target="#modal_adicionar">Adicionar Usuário</button>
            </div>
            <div class="col-sm-12 col-md-11 col-lg-11">
                <div class="form-inline float-right">
                    <input class="form-control" type="search" placeholder="Search" aria-label="Search" ng-model="filtro">
                </div>
            </div>
        </div>

        <table class="table table-striped table-dark table-hover">
            <caption>Lista de Livros</caption>
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Autor</th>
                    <th scope="col">Editora</th>
                    <th scope="col">Data de Lançamento</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="livro in livros | filter: filtro | orderBy: 'nome'">
                    <td id="id_livro" hidden="hidden">{{livro.id}}</td>
                    <td id="nome_livro">{{livro.nome}}</td>
                    <td id="autor_livro">{{livro.autor}}</td>
                    <td id="editora_livro">{{livro.editora}}</td>
                    <td id="data_lancamento_livro">{{livro.data_lancamento}}</td>
                    <td>
                        <button class="btn btn-primary" data-toggle="modal" data-target="#modal_editar" ng-click="CarregaModalEditar()">Editar</button>
                        <button class="btn btn-danger" ng-click="RemoveLivro()">Remover</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>